@charset "UTF-8";

/*Versão mobile portrait*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(103, 2, 146);
}

main{
    background-color: white;
    width: 60%;
    height: 95vh;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 2%);
    border-radius: 20px;
}

a{
    text-decoration: none;
}

p{
    font-size: 16px;
    margin: 3px;
}

#img{
    background-color: black;
    width: 100%;
    height: 30%;
    background-image: url("img/metal.jpg");
    background-size: cover;
    background-position: right bottom;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
}
input, .divBtn, button{
    display: block;
    margin: auto;
    width: 55vw;
    height: 5vh;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.divBtn{
    margin-left: 4.8%;
}

.confInput{
    background-color: #19e7e4;
    width: 45vw;
    height: 4vh;
}

.material-symbols-outlined{
    padding-bottom: 10px;
    color: white;
    font-size: 1em;
    padding: 0px;
}

#mail{
    padding: 0px;
    font-size: 18px;
    color: #0FC2C0;
}

.divBtn{
    background-color: darkmagenta;
    padding-top: 2px;
    display: inline-flex;
}

#content h1{
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
}

#content p{
    font-size: 1rem;
    text-align: justify;
    padding: 10px;
}

#btnEntrar{
    background-color: #0FC2C0;
    color: white;
}

#btnTrocarSenha{
    border-color: #0FC2C0;
    color: #0FC2C0;
}

#btnEntrar:hover{
    background-color: #2a7271;
}

#btnTrocarSenha:hover{
    background-color: #2a7271;
}